<nav class="navbar-fixed-top">
    <div class="container">
        <ul class="nav-ul montserrat">
            <li><a href="#">Home</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Epsum</a></li>
            <li><a href="#">Supplier Depo</a></li>
        </ul>
    </div>    
</nav>