// Place all the styles related to the blanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Chewy|Lalezar|Montserrat|Patua+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lilita+One|Montserrat');

#home {
    background: image_url("backgrounds/hands.jpg");
    background-position: center center;
    background-size: 100% 100%;
}

.lalezar {
    font-family: Lalezar, sans, monospace;
    color: #e6e6e6;
}

.heading-position{
    margin-top: 220px;
    color: white;
}

.call-pos {
    margin-top: 150px;
    background: rgba(230, 230, 230, 0.8);
    border-radius: 5px;

    
}

.inner{
    padding: 10px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.alfa{
    font-family: 'Lilita One', cursive;
}

.catch-phrase {
    text-indent: 30px;
    color:  #4d4d4d;
    font-family: 'Montserrat', sans-serif;
}
