// Place all the styles related to the distributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-bg{
    background: #ff6b51;
}

.well{
    -webkit-box-shadow: 0px 2px 143px -25px rgba(20,0,0,1);
    -moz-box-shadow: 0px 2px 143px -25px rgba(20,0,0,1);
    box-shadow: 0px 2px 143px -25px rgba(20,0,0,1);
}